@charset "UTF-8";
/*
共通設定
*/
* {
    margin: 0;
}

body {
    line-height: 1;
    color: #333;
    font-family:  neue-haas-grotesk-text, noto-sans-cjk-jp, sans-serif;
    font-size: 14px;
}


@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

strong {
    background-color: yellow;
}

img {
    max-width: 100%;
    height: auto;
    border: solid 1px #ccc;
}

li {
    margin: 0.5em 0;
}

li > ul {
    margin-top: 5px;
}

pre {
    line-height: 1.3;
}

a {
    text-decoration: none;
    color: #00809d;
}

a:hover {
    opacity: 0.5;
    text-decoration: underline;
}

p {
    line-height: 1.75;
}

blockquote {
    padding: 15px;
    border-left: 5px solid #ccc;
    border-radius: 2px;
}

input[type=text], input[type=email], input[type=number],
select, textarea {
    font-size: 14px;
    padding: 4px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: solid 1px #ccc;
    background-color: #fff;
    font-family: "Ubuntu", "Noto Sans JP", sans-serif;
}

button, a.button {
    font-size: 14px;
    -webkit-appearance: none;
    padding: 4px 16px;
    border-radius: 4px;
    background-color: #fff;
    border: solid 1px #ccc;
    vertical-align: bottom;
    font-family: "Ubuntu", "Noto Sans JP", sans-serif;

    /* a要素用の設定 */
    box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #333;

    /* button要素用の設定 */
    cursor: pointer;
}

button:hover, a.button:hover {
    opacity: 0.5;
}

button.btn-link, a.btn-link {
    border: none;
    color: #00809d;
    vertical-align: initial;
}

/*
ユーティリティー
*/

/* コンテナ */
.container {
    margin: 0 10px;
}

@media (min-width: 768px) {
    .container {
        margin: 0 40px;
    }
}

@media (min-width: 1024px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }
}


/* カスタムチェックボックス */
.custom-checkbox {
    display: none;
}

.custom-checkbox:checked + .custom-checkbox-label {
    background: #00809d;
    color: #fff;
}

.custom-checkbox-label {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    border: solid 1px #ccc;
    transition: 0.25s;
    padding: 4px 16px;
    cursor: pointer;
    font-size: 14px;
    margin: 3px;
}

.custom-checkbox-label:hover {
    opacity: 0.5;
}

/* フォームユーティリティ */
.helptext {
    font-size: 14px;
}

.field {
    margin-bottom: 24px;
}

.field > * {
    display: block;
    width: 100%;
}

/* 記事関連 */
.post {
    margin-bottom: 48px;
    position: relative;
}

h1.post-title {
    line-height: 1.5;
    font-size: 24px;
    font-weight: bold;
}

h2.post-title, h3.post-title {
    line-height: 1.5;
    font-size: 18px;
    font-weight: bold;
}

.updated_at {
    display: block;
    line-height: 1.5;
    color: #6F959E;
    font-size: 14px;
    margin-top: 5px;
}

.description {
    font-size: 14px;
    margin-top: 5px;
}

.tag {
    margin-right: 5px;
    cursor: pointer;
    color: #00809d;
    font-size: 14px;
}

.tag-no-click {
    margin-right: 5px;
    color: #6F959E;
    font-size: 14px;
}

.tag:hover {
    opacity: 0.5;
    text-decoration: underline;
}

/* マークダウン */


/* その他ユーティリティ */
.qr {
    width: 100px;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
}

.inline-ul {
    padding: 0;
    list-style-type: none;
}

.inline-ul > li {
    display: inline-block;
    margin-right: 20px;
}

/*
共通ページ
*/
/* メインコンテンツラッパー */
main {
    padding: 48px 0;
    min-height: 40vh;
}


/* フッター */
#site-footer {
    background-color: #00809d;
    padding: 48px 0;
    color: #fff;
}

#site-footer a {
    color: #fff;
}

#site-footer h3 {
    margin-bottom: 5px;
}

#id_mail {
    margin-bottom: 5px;
}

#footer-container > div {
    margin-bottom: 48px;
}

@media (min-width: 1024px) {
    #footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
        column-gap: 20px;
    }

    #footer-container > div {
        margin-bottom: 0;
    }
}

#footer-container > p {
    grid-column: 1/-1;
}

#subscribe-lead {
    margin-bottom: 20px;
}

#footer-container > hr {
    grid-column: 1/-1;
    margin: 20px 0;
    height: 1px;
    border: none;
    background-color: #ccc;
}

#footer-container > ul {
    grid-column: 1/-1;
}

/*
記事一覧ページ
*/
/* 検索フォーム */
#search-form {
    margin-bottom: 48px;
}

.inline-checkbox {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding: 0;
}

/* ページング部分 */
#page {
    font-size: 18px;
}

.page-link {
    font-weight: bold;
}

/* 選択したタグエリア */
#select-tags {
    margin-bottom: 48px;
    font-size: 14px;
}

/*
記事詳細ページ
 */
#back {
    margin-bottom: 48px;
}

/* マークダウン関連 */
.markdown-body > * {
    margin-top: 1em;
    margin-bottom: 1em;
}

.markdown-body > h2, .markdown-body > h3 {
    font-size: 24px;
    margin-top: 100px;
}

.toc > ul {
    list-style-type: none;
    background-color: #f5f5f5;
    padding: 10px;
}


#comment h2, #relation-posts h2 {
    margin-top: 100px;
    margin-bottom: 10px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;
}

/* コメント欄 */
.comment, .reply {
    margin-top: 48px;
}

.comment > h3, .reply > h3 {
    font-size: 18px;
}

@media (min-width: 1024px) {
    #comment {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);

    }

    #comment > * {
        grid-column: 1 / -1;
    }

    #comment > .comment {
        grid-column: 1 / -1;
    }

    #comment > .reply {
        grid-column: 2;
    }
}